*{
    font-family: Arial, sans-serif;
    
}

.title{
    box-align: center;
    width: min-content;
    padding: 20px;
    border: 1px solid;
    
}
blockquote{
    border-left: 2px solid purple
}
.toggle_element{
    display: none
}
.switch_label{
    display: inline-block;
    width:50px;
    height:25px;
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer; /* hand */
    position: relative;
    transition: background-color 0.3s;

}
.switch_label::after{
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top:3px;
    left:3px;
    transition:0.3s;
}
.toggle_element:checked + .switch_label{
    background-color:#4cd964
}
.toggle_element:checked + .switch_label::after{
    transform: translatex(24px);
}

